body {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', arial, sans-serif !important;
    font-size: 14px !important;
    color: #313234;
}
.user_menu {
	margin: 0; padding: 0;
}
.user_menu li {
	list-style: none;
}
.user_menu li a {
	padding: 10px 15px;
    background: #f7f7f7;
    display: block;
    color: #333;
    margin-bottom: 5px;
}
.user_menu li a:hover, .user_menu li.active a {
	background: #f5f5f5;
	color: var(--blue);
}
.user_menu .avatar {
	text-align: center;
	border: 1px solid #eee;
    margin-bottom: 5px;
}
.user_menu .avatar img{
	margin: auto;
}

.account-list {
	clear: both;
	background: #f9f9f9;
	padding: 15px;
	border-radius: 6px;
	overflow: hidden;
	font-size: 14px;
}
.account-list .child {
	padding: 10px 0;
	border: 1px solid white;
}
.account-list .child .avatar {
	margin: 0 10px;
}

.box_search_link { position: relative}

.link_msg .alert{
	padding: 5px 15px;
}

/* PACKET */
.package_list {}
.package_list .item{
	background: #e7f5fc;
	border-radius: 6px;
	/* margin: 0 13px 20px; */
	/* width: 30%; */
	text-align: center;
	height: 100%;
	padding: 10px 10px 15px 10px;
}
.package_list .title { font-size: 26px; color: var(--blue); padding: 0; margin: 15px;}
.package_list .name { text-transform: uppercase; font-weight: bold; margin-bottom: 10px;}
.package_list .intro { height: 100px; overflow: hidden; }
.package_list .price { font-size: 18px; font-weight: bold; color:var(--red);}
.package_list .price span {color: #333;}
.img-nv{background-color: #fff;width: 147px;/* height: 100px; */border-radius: 10px;/* padding: 5px; */float: left;margin-right: 20px;/* border: 1px solid #f2f2f2; */}
.item-nvngay{position: relative;overflow: hidden;/* margin-bottom: 40px; */padding: 7px 5px 4px 60px;/* border: 1px solid #f2f2f2; *//* border-bottom: none; */margin-bottom: 10px;background: rgba(255,255,255,0.98);/* margin: 10px 30px 20px 30px; */border-radius: 4px;min-height: 60px;box-shadow: 0px 0px 13px 0px rgb(82 63 105 / 5%);}
.item-nvngay .stt{font-size: 18px;font-weight: bold;position: absolute;left: 10px;/* right: 100px; */border:2px solid #f0506e;color: #f0506e;width: 40px;height: 40px;border-radius: 10px;line-height: 40px;text-align: center;top: 50%;margin-top: -20px;}
.item-nvngay .stt.st1{border:2px solid #f0506e;color: #f0506e;}
.item-nvngay .stt.st2{border:2px solid #7ad18a;color: #7ad18a;}
.item-nvngay .stt.st3{border:2px solid #609beb;color: #609beb;}
.item-nvngay .stt.st4{border:2px solid #ffd62a;color: #ffd62a;}
.item-nvngay .stt.st5{border:2px solid #f0506e;color: #f0506e;}
.item-nvngay.active{background-color: #65dd9b;border: none;}
.item-nvngay.active .stt{border:2px solid #fff;color: #fff;}
.item-nvngay h4{
    font-size: 15px;
    margin-top: 6px;
    font-weight: bold;
    width: 180px;
    display: table-cell;
    vertical-align: middle;
    height: 44px;
}
.item-nvngay .btn{position: absolute;right: 12px;bottom: 50%;margin-bottom: -20px;z-index:1;color: #f0506e;background-color: #fff;border-radius: 32px;font-size: 13px;}
.item-nvngay .fa{}

.item-nvngay ul li{
    font-size: 14px;
}
.item-nv{position: relative;overflow: hidden;margin-bottom: 40px;padding: 10px 20px;background-color: #fff;margin: 0px 0px 20px 0px;border-radius: 10px;}
.item-nv .stt{font-size: 32px;position: absolute;left: 10px;/* right: 100px; */background: #555;color: #fff;width: 40px;height: 40px;border-radius: 40px;line-height: 40px;text-align: center;}
.item-nv h4{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
    /* height: 60px; */
    overflow: hidden;
    margin-top: 5px;
}

.icon-subject {
    background-image: url('../images/unknown.svg');
    width: 66px;
    height: 66px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 50%;
    margin-right: 10px;
}
.item-nv .ic-1{ background-image: url('../images/math.svg');}
.item-nv .ic-2{ background-image: url('../images/english.svg');}
.item-nv ul{}
.item-nv ul li{}
.item-nvngay .img-nv{width: 60px;height: 60px;margin-right: 10px;}
.thumb{position: relative;display: block;float: left;}
.item-nv .icon{
    position: absolute;
    bottom: 0px;
    left: 7px;
    padding: 5px 10px;
    color: white;
    background: var(--red);
    border-radius: 0 10px 0 0;
    box-shadow: 0px 1px 3px #999;
    font-size: 13px;
}

 .label-title{margin-top: 10px;font-size: 18px;}
 .fa-star{color: #fa9113;}
 .fa-diamond{color: #65b9dd;}
 .tag{border: 1px solid #f0506e;padding: 7px 20px;border-radius: 16px;color: #f0506e;}
 .tab-content{padding-top: 20px;}
 .nav-tabs-ctr{
    border: none;
}

 .nav-tabs-ctr a{border: 1px solid #f0506e;border-radius: 20px;padding: 8px 15px;margin-left: 8px;margin-right: 8px;/* height: 60px; *//* display: block; *//* margin-bottom: 15px; *//* text-transform: uppercase; */font-weight: bold;}
 .nav-tabs-ctr .active, .nav-tabs-ctr .active:focus, .nav-tabs-ctr .active:hover {
    color: #fff;
    cursor: default;
    background-color: #f0506e;
    border: 1px solid #f0506e;
}


.lession-menu{background-color: #fff;position: fixed;right: 0px;top: 51px;bottom: 0px;height: 100%;width: 300px;border-left: 1px solid #f2f2f2;overflow-y: auto;}
.lession-main{margin-right: 300px;}
.left-menu li{list-style: none;}
.left-menu li a{display: block; padding: 6px 10px; font-weight: bold; color: #333;}
.left-menu ul{ padding: 0px 10px; margin: 0px;}
.item-packet{border: 1px solid #e7f5fc;}
.item-packet:hover{cursor: pointer;background-color: #d2e8f3;border: 1px solid #5cb85c;}
.item-packet .icon{display:none;position: absolute;top:10px;right: 30px;color: #5cb85c;font-size: 20px;}
.item-packet.active{border: 1px solid #5cb85c;}
.item-packet.active .icon{display:block;}
.box-btn{margin-top:30px; text-align:center;}
.box-nvngay{padding-top: 0px !important;position: relative;margin-top: 40px !important;}
.box-nvngay .progress{ position: absolute;; left: 0; right: 0; top: 0px;}
.item-group-exam{
   background-color:#fafafa;
   padding: 15px;
   margin: 0px 0px  20px;
   border: 1px solid #dcdacb;
   border-radius: 5px;
   display: block;
   font-size: 16px;
   position:relative;
}
.item-group-exam .btn{position: absolute;right: 15px;top: 50%;margin-top: -17px;z-index:1;}
.item-exercise .i-content p:first-child{ font-weight:bold; color :#000}
.item-exercise{margin-bottom: 30px; padding-bottom: 30px; border-bottom: 1px solid #f2f2f2; margin-top: 15px}
.item-exercise .cau{float: left; margin-right: 10px;}
.item-exercise .card{background-color:#fafafa; padding: 15px; border-radius:4px; border: 1px solid #f2f2f2}
.item-exercise .box-guide{margin-top:30px}
.item-exercise .collapsed .fa-sort-asc{display: none}
.item-exercise .fa-sort-asc{display: block;margin-top: -3px}
.item-exercise .collapsed .fa-sort-desc{display: block; margin-top: -10px}
.item-exercise .fa-sort-desc{display:none}
.item-exercise .btn{ padding-right: 30px; position: relative;}
.item-exercise .btn .fa{position: absolute; top: 50%; right: 10px; z-index:1}
.item-subject{}
.item-subject .icon{
    display: block;
    width: 52px;
    height: 52px;
    text-align: center;
    border-radius: 52px;
    margin: auto;
    text-align: center;
    line-height: 52px;
    background-color: #fff;
    margin-bottom: 20px;
    font-size: 22px;
    /* border-radius: 4px; */
}
.item-subject {
    padding: 20px;
    /* border: 1px solid #f2f2f2; */
    /* margin-left: 10px; */
    /* margin-right: 10px; */
    display: inline-block;
    /* float: left; */
    width: 120px;
    color: #333;
    text-align: center;
    border-radius: 5px;
}
.card-subject .item-subject {
     margin-left: 10px; 
    margin-right: 10px;
    display: inline-block;
     float: left; 
    width: 120px;
    
}
.subject1{background-color: #fcf1eb}
.subject2{background-color: #fff9eb}
.subject3{background-color: #e5f4fb}
.subject4{background-color: #dcf4f8}
.subject5{background-color: #fcf1eb}
.subject6{background-color: #fff9eb}
.subject7{background-color: #e5f4fb}
.box-couse{
    border: 1px solid #f2f2f2;
   
}

.box-couse .content{padding: 10px 10px;}
.box-couse .name{}
.box-couse .mon{}
.name{font-size: 16px; font-weight: bold}
.notic-expire{margin-top:30px;font-weight:bold;}
.notic-expire a{margin-top: 15px;}
.notic-expire .label-expire{display: block;color: #d9534f;}
.item-noti{text-align: left;position: relative;background: url('../images/gim.png') no-repeat top 13px left 5px #fff;background-size: 32px auto;padding-left: 36px;}
.item-noti .noti-user{/* background-color: #fff; */padding: 5px 12px;border-radius: 4px;/* background-color: #bbdff1; *//* color: #fff; */margin-bottom: 3px;position: absolute;right: 15px;bottom: 2px;font-size: 13px;}
.item-noti p{margin-bottom: 5px;/* margin-top: 8px; */background-color: #fff;font-size: 13px;padding: 10px 10px 10px 0px;border-radius: 3px;padding-bottom: 36px;}
.item-infomation{border: 1px solid #f2f2f2;padding: 15px;border-radius: 3px;min-height: 380px;background-color: #fafafa;}
.item-mesager{height: 324px;overflow: auto;padding-right: 3px;}
.item-infomation .title{font-size: 16px;text-align: left;font-weight: bold;margin-bottom: 5px;}
.chat-teacher,.live{border-radius: 3px;font-size:20px;padding: 26px 10px;margin-bottom: 20px;}
.chat-teacher{background-color: #fcf1eb;text-align: center;}

.card-item.chat-teacher {}
.live{background-color: #dcf4f8;}
.td-title{background-color: #fafafa; font-weight: bold}
.card-nv{
    position: relative;
    margin-bottom: 50px;
}
.card-nv .pattern-layer {
    position: absolute;
    left: 0px;
    top: 60px;
    width: 100%;
    height: 654px;
}

.skill-section .image-column{
	position:relative;
	margin-bottom:40px;
}

.skill-section .image-column .inner-column{
	position:relative;
}

.skill-section .image-column .inner-column .image{
	position:relative;
	z-index:1;
}

.skill-section .image-column .circle-one{
	position:absolute;
	left:50%;
	top:50%;
	width:270px;
	height:270px;
	border-radius:50%;
	background-color:#effef7;
}

.skill-section .image-column .circle-two{
	position:absolute;
	left:0%;
	top:0%;
	width:270px;
	height:270px;
	border-radius:50%;
	background-color:#f3fbf8;
}
/*.main-content{position: absolute; left:0px; right:0px; top: 0px; z-index:1}*/
.list,
.box-nvngay{max-height: 420px;overflow-y:auto;padding-right: 10px;/* padding-top: 10px; */}

.content-nv .content{
	background-color: #bbecfa;
	border-radius: 6px;
}

.content-nv .title-label{/* padding: 20px; */text-align: center;font-size: 20px;padding: 7px 5px;background-color: #12a4f9;margin: 0px;text-transform: uppercase;color: #fff;border-radius: 6px;margin-left: -35px;margin-right: -20px;margin-bottom: 30px;}
.scrollbar-stype::-webkit-scrollbar {
    width: 5px;
    background-color: #fff;
	border-radius: 5px;
} 
.scrollbar-stype::-webkit-scrollbar-thumb {
    background-color: #bbb;
	border-radius: 5px;
	overflow:hidden;
}
.scrollbar-stype::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    background-color: #fff;
	border-radius: 5px;
}
.force-overflow {
    min-height: 480px;
}
.box-report-item{
    border: 1px solid #f2f2f2;
    margin-bottom: 15px;
    padding: 15px 15px 0px 15px;
    border-radius: 4px;
}
.box-report-item .progress{height: 10px;margin-bottom: 10px;}
.box-report-item .name{margin-bottom: 10px}
.box-report-item ul{}
.box-report-item h4{overflow:hidden}
.box-report-item .ic{width: 20px;height: 20px;float: left;margin-right: 7px;border-radius: 30px;}
.ic1{ background-color: #008ffb}
.ic2{ background-color: #00e396}
.ic3{ background-color: #feb019}
.ic4{ background-color: #ff4560}
.ic5{ background-color: #775dd0}
.ic6{ background-color: #008ffb}
.ic7{ background-color: #00e396}
.ic8{ background-color: #feb019}
.ic9{ background-color: #ff4560}
.box-report-item ul li{ font-size: 14px; font-weight: normal;}
.box-report-subject{max-height: 360px; overflow: auto; padding-right: 10px;}
.card {
    border:none; background: transparent;
}


.navigation {
    width: 250px;
    background-color: #fafafa;
}
.navigation .nav-content {
    width: 100%;
    transition: all 0.2s ease;
}
@media (min-width: 992px){
.main-content {
    padding-left: 250px;
    padding-top: 60px;
}
.dashboard .main-content {
    padding-right: 250px;
}
}
.navigation .nav-content ul li:not(.logo) a {
   
    padding: 8px 15px 8px 18px;
 
   height: auto; 
   
}
.main-content .middle-sidebar-header{height: 60px; position:fixed; left: 0px;}
.dashboard .middle-sidebar-bottom{/* margin-right: 260px; */}


#container {
    position: relative;
    margin-left: 250px;
    margin-right: 250px;
}
.main-content .middle-sidebar-header .header-search .form-group.icon-input i {
    top: 6px;
}
.form-group.icon-input input {
    padding: 3px 10px 3px 47px !important;
    padding-left: 35px;
}
.header-search{
    /* float: left !important; */
    background-color: #eff3f6;
    border-radius: 30px;
    margin-left: 250px;
}
.main-content {
    background-color: #fff;
}
.overflow-hidden {
    overflow: hidden !important;
}
.img-logo{
	width: 150px;
    position: absolute;
    top: 5px;
    left: 37px;
}
.info-member{
    text-align: center;
}
.info-member h3{
    font-weight: bold;
}
.info-member p{}
.info-member .ic{width: 50px;height: 50px;display: block;margin: auto;}
.info-member .ic.ic-star{background: url('../images/star-ic.png') no-repeat;background-size: 100% auto;margin: auto;}
.info-member .ic.ic-diamond{background: url('../images/diamond-ic.png') no-repeat;background-size: 100% auto}
.box-linhvat{padding: 33px 46px 20px 46px;}
.img-linhvat{width: 100%;/* margin-top: 20px; */}
.list-bonus{
    padding: 0px 50px;
}
.list-bonus li{}
.box-btn-user{ height: 60px; display: block;}
.btn-user{padding-right: 20px;font-weight: bold;}
.btn-user .label{font-weight: 400;}
.dropdown-toggle::after{position: absolute; right: 0px; top: 20px;}
.box-user-nav{position: relative}
.show-box{margin-top: 4px;}
.box-add-work{margin: auto;}
.box-infomation{}

.home-monhoc{
    margin-top: 30px;
}
.home-khoahoc{
    margin-top: 50px;
}
.home-baocao{
    margin-top: 30px;
	position: relative;
}
.home-khoahoc h2,
.home-monhoc h2,
.home-baocao h2,
.box-infomation h2{  font-size: 26px; text-transform: uppercase;}
.home-baocao{}

.row.row-item,
.row.row-box{margin-left: -10px; margin-right:-10px}
.row.row-item .col-item,
.row.row-box .col-box{padding: 0px 10px;}
.w235{width: 246px !important;}
.name{line-height: 23px;}
.home-khoahoc .name{height: 44px;overflow: hidden;margin-bottom: 15px;}
.main-content .middle-sidebar-header .right-menu-icon li a {
    font-size: 14px;
}

.card-item.live{text-align: center}
.card-item .day{display: block; color: #0078fd}
.card-item .ic{font-size: 35px;display: block;margin-bottom: 10px;/* margin: auto; */}
.list-inline{}
.list-inline li{display: inline-block; margin-left: 5px; margin-right: 5px;}
.card-subject{}
.card-subject .item .card-body{padding: 10px}
.item .card-body .mon{padding: 1px 12px !important;}
.item .card-body .gia{padding: 1px 0px !important;}
.modal .modal-content .close{    right: 28px;top: 18px;}
.timeline .line{height: 10px;width: 100%;border-radius:6px;background-image: linear-gradient(to right,#81fbff, #044b8d);position: relative;}
.timeline{margin-top: 60px;}
.timeline .not{position: absolute;top: -53px;margin-left: -22px;/* text-align: center; */}
.timeline .ic{background: url('../images/shine.png') no-repeat;background-size: 100% auto;width: 48px;height: 50px;display: block;margin-bottom: 22px;}
.timeline .not1{ left: 20%}
.timeline .not2{ left: 40%}
.timeline .not3{ left: 60%}
.timeline .not4{ left: 80%}
.timeline .not5{ left: 99%;}
.timeline .not5 .ic{ left: 99%;background: url('../images/shine1.png') no-repeat;background-size: 100% auto;}
.triangle{
	width: 0;
	height: 0;
	border-width: 0 4px 4px 4px;
	border-color: transparent transparent #000 transparent;
	border-style: solid;
	position: absolute;
	top: 68px;
	left: 15px;
}
.line-bonus{width: 100%;display: block;position:relative;}
.timeline .number{padding-left: 7px;font-weight: bold;}
.list.scrollbar-stype{margin-top: 15px;}
.line-star .content{height:4px;background-image: linear-gradient(to right,#fffaf9, #e7a10d);position:relative;}
.line-star span,.line-diamond span{width: 22px;height: 20px;display:block;position: absolute;top: -22px;z-index:8;right: 0px;/* margin-right: -20px; */}
.line-star .ic-star{background: url('../images/star-ic.png') no-repeat;background-size: 100% auto;margin-right: -20px;}
.line-diamond .ic-diamond{background: url('../images/diamond-ic.png') no-repeat;background-size: 100% auto;margin-right: -12px;/* top: -19px; */}
.line-star,
.line-diamond{position: absolute; left: 0px; right: 0px; top: 0px;}
.line-star{z-index:3}
.line-diamond{z-index:2}
span.ic-diamond {}
.line-diamond .content{height:4px; background-image: linear-gradient(to right,#fffaf9, #c009f7);position:relative;}
.list-bonus-nv{}
.list-bonus-nv span{float: left;font-size: 18px;font-weight: bold;line-height: 35px;width: 29px;text-align: right;}
.list-bonus-nv .ic{width: 32px;height: 32px;display:block;margin-left: 5px;}
.list-bonus-nv .ic-star{background: url('../images/star-ic.png') no-repeat;background-size: 96% auto;margin-top: 2px;}
.list-bonus-nv .ic-diamond{background: url('../images/diamond-ic.png') no-repeat top 2px center;background-size: 100% auto;margin-top: 3px;}

span.ic-diamond.ic {}